/* @font-face {
  font-family: "Barlow";
  src: url('../fonts/Barlow-Medium.ttf');
} */

@font-face {
  font-family: "Kanit-Regular";
  src: url('../fonts/v2/Kanit-Regular.ttf');
}

@font-face {
  font-family: "NEOTECH-BOLD";
  src: url('../fonts/v2/NEOTECH-BOLD.OTF');
}

@font-face {
  font-family: "NEOTECH-MEDIUM";
  src: url('../fonts/v2/NEOTECH-MEDIUM.OTF');
}

body {
  /* color: #F2F0F8; */
  font-family: NEOTECH-MEDIUM !important;
  background-color: #fefef3 !important;
}

main {
  overflow: hidden;
  min-height: 500px;
  background: #fefef3 !important;
}

main>.container {
  padding: 90px 15px 20px;
}

h1 {
  margin-bottom: 0;
}


p {
  font-family: Kanit-Regular;
}

.footer {
  background-color: #f5f5f5;
  font-size: 0.9em;
  height: 60px;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: "";
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.navbar-expand-lg .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  justify-content: flex-end;
}

.navbar {
  padding: 15px 120px;
  position: fixed;
  z-index: 100000;
  width: 100%;
}

.navbar-nav .nav-link {
  font-weight: bold !important;
  font-size: 16px !important;
}

.navbar .navbar-logo {
  /* filter: brightness(0) invert(1); */
}

.navbar .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-scrolled {
  /* background-color: #df4c2b; */
  /* background-image: linear-gradient(90deg, hsla(201, 86%, 50%, 1) 0%, hsla(327, 100%, 50%, 1) 53%); */
  background-image: linear-gradient(324deg, #e8028d, #5442be);
  background-position: left center, center;
  /* background-size: 96%, 100%; */
  background-repeat: no-repeat, no-repeat;
}

.navbar-scrolled .navbar-logo {
  /* filter: unset; */
}

.navbar-scrolled .navbar-nav .nav-link {
  color: #fff !important;
}

.main {
  /* background-color: #F2F0F8; */
  /* background-image: linear-gradient(to right, #df4c2b, #8c7acf, #a681d3, #be89d6, #d491d9, #e38dd0, #f189c4, #fc86b7, #ff7796, #fb6c72, #ef674d, #db6723); */
}

.bg-color-1 {
  background-color: #f2d0df;
}

.bg-color-2 {
  background-color: #f2f0f8;
}

.bg-color-3 {
  background-color: #db6723;
}

.bg-color-4 {
  background-color: #f59970;
}

.bg-color-5 {
  background-color: #ef9ddc;
}

.bg-color-6 {
  background-color: #fa5282;
}

.bg-color-7 {
  background-color: #f9d3b7;
}

.bg-color-8 {
  background-color: #df4c2b;
}

.bg-color-9 {
  background-color: #d0b6e4;
}

.bg-color-10 {
  background-color: #a9adc7;
}

.btn-success {
  color: #fff;
  /* background-color: #df4c2b; */
  /* border-color: #FA5282; */
  border: 0;
  /* background-image: linear-gradient(to right, #034f90, #354b98, #56459a, #753a97, #91298e); */
  /* background-image: linear-gradient(1deg, hsla(201, 86%, 50%, 1) 0%, hsla(327, 100%, 50%, 1) 75%); */
  background-color: #1ea3eb;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #1ea3eb;
}

.btn-main {
  color: #fff;
  border: 0;
  /* background-image: linear-gradient(90deg, hsla(10, 100%, 53%, 1) 0%, hsla(56, 100%, 50%, 1) 100%); */
  /* background-image: linear-gradient(324deg, #a000ff, #ff006f); */
  /* background-image: linear-gradient(51deg, #0582c8, #e9018c); */
  background-color: #1ea3eb;
  padding: 8px 35px;
  font-size: 20px;
  border-radius: 0 !important;
  font-weight: 800;
  
}


.btn {
  clip-path: polygon(95% 0, 100% 30%, 100% 100%, 5% 100%, 0 70%, 0 0);
}

.btn-survey {
  color: #fff;
  border: 0;
  /* background-image: linear-gradient(90deg, hsla(10, 100%, 53%, 1) 0%, hsla(56, 100%, 50%, 1) 100%); */
  /* background-image: linear-gradient(324deg, #a000ff, #ff006f); */
  /* background-image: linear-gradient(51deg, #0582c8, #e9018c); */
  background-color: #ec702a;
  padding: 8px 35px;
  font-size: 20px;
  border-radius: 0 !important;
  font-weight: 800;
}


.btn-main:hover {
  color: #fff;
}


.carousel .carousel-item {
  height: unset !important;
  /* height: 600px; */
}

.carousel-item img {
  height: unset !important;
  object-fit: cover;
  object-position: center;
}

.main-content {
  /* padding-top: 90px; */
  /* margin-top: 120px; */
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.card-transparent {
  background-color: #0000004a !important;
  border: 0px !important;
}

.text-black {
  color: #000 !important;
}

.grid-view {
  overflow: auto;
}

/* 
.card {
  border: 0px !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2) !important;
} */

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #e6e1f2; */
  /* background-color: #e6e1f270; */
  background-color: #fffbcbe3;
  background-clip: border-box;
  border: 0px !important;
  /* border-radius: 0.25rem; */
  /* background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/bg-card-1_5C2Mmd2jV?updatedAt=1691082334649), url(https://ik.imagekit.io/d9hiweoihy/likeit/clip3_1-VprCUC1?updatedAt=1691085016336); */
  background-position: right bottom, left top;
  background-size: 42%, 42%;
  background-repeat: no-repeat, no-repeat;
}

footer {
  border-top: 2px solid #f97127;
  /* background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/footer_IVFinkVso?updatedAt=1691084138963), linear-gradient(to right, #f6ca9f, #ffc3b2, #ffc1cb, #f6c4e3, #decbf3, #d4ccf5, #caccf6, #bfcdf6, #c3c7f4, #c9c0f1, #d0b9ec, #d8b2e5); */
  background-position: left bottom, center;
  background-size: 42%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-color: #fffde5 !important;
}

.help-block {
  color: #fa5282 !important;
}

.card-header {
  /* background-color: unset !important;
  border-bottom: 0px !important; */
  justify-content: center;
  padding: 12px;
  display: flex;
  margin: 20px;
  align-items: center;
  background: linear-gradient(90deg, hsl(326.82deg 100% 50%) 0%, hsla(57, 100%, 51%, 1) 100%);
  clip-path: polygon(97% 0, 100% 30%, 100% 100%, 3% 100%, 0 70%, 0 0);
}

.card-header>* {
  font-size: 48px;
  padding: 0 20px;
  font-weight: 800;
  color: white;
  background: #FFC803;
  width: 100%;
  line-height: unset;
  clip-path: polygon(98% 0, 100% 30%, 100% 100%, 2% 100%, 0 70%, 0 0);
}


.card-footer {
  background-color: unset !important;
  border-top: 0px !important;
}

.image img {
  max-width: 400px !important;
}

.container-2 {
  /* margin: 0px 120px; */
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 90% !important;
    margin: 3rem
  }

  form {
    padding: 0px 20px;
  }


  .px-80 {
    padding: 0 80px;
  }


}

footer {
  z-index: 1000;
}


@media all and (max-width: 600px) {
  .navbar {
    padding: 15px 15px !important;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

  .carousel .carousel-item {
    height: 300px;
  }

  .carousel-item img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

.navbar-collapse .collapse {
  justify-content: right;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #741515;
  /* background-color: #e8e8f6; */
  background-clip: padding-box;
  /* border: 3px solid #df4c2b; */
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  /* border-color: #df4c2b !important; */
  color: #741515;
  box-shadow: none !important;
  /* background-color: #e8e8f6; */

}

.nlb {
  border-left: 0px !important;
}

/* h1 {
    color: #df4c2b;
  } */

/* .card-header { */
/* background-color: unset !important; */
/* border-bottom: 0px !important; */
/* background-image: linear-gradient( to right, #fa5282, #e556a0, #c560b7, #9e6bc6, #df4c2b ); */
/* background-image: linear-gradient(to right, #034f90, #354b98, #56459a, #753a97, #91298e); */
/* color: white; */
/* border-radius: 10px 10px 0 0 !important; */
/* 
  margin: 20px;
  background: unset;
  color: #ee2b7a;
  border: 4px solid #f57b1f !important; */
/* } */

.control-label {
  font-size: 18px;
  font-weight: 600;
  color: #741515;
}

.input-group-text {
  /* border: 3px solid #df4c2b; */
  border-right: 0px !important;
  border-radius: 8px;
  background: #fff;
}


/*  */

.bg-info,
.bg-info>a {
  color: #fff !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
  display: block;
  margin-bottom: 20px;
  position: relative;
}


.small-box>.inner {
  padding: 10px;
}

.small-box .icon {
  color: rgba(0, 0, 0, .15);
  z-index: 0;
}

.small-box>.small-box-footer {
  background-color: rgba(0, 0, 0, .1);
  color: rgba(255, 255, 255, .8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.small-box .icon>i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.dropdown-item {

  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.carousel-caption {
  position: absolute;
  right: 12%;
  bottom: 20px;
  left: 12%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: #27272759;
  border-radius: 10px;
}

.action-button {
  /* display: flex; */
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  background-color: #cfddf6;
  padding: 10px;
}

.footer-c {
  font-size: 20px;
  font-weight: 600;
  color: #064d93;
}

footer {
  background-color: #fff;
}

.heading-custom {
  /* background-image: linear-gradient(to right, #034f90, #354b98, #56459a, #753a97, #91298e); */
  /* padding: 10px;
  margin: 10px 0px;
  color: #ee2b7a;
  border: 3px solid #f57b1f;
  font-size: 23px;
  
  font-weight: 600; */
  justify-content: center;
  padding: 12px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, hsla(199, 90%, 49%, 1) 0%, hsla(327, 100%, 50%, 1) 100%);
  clip-path: polygon(97% 0, 100% 30%, 100% 100%, 3% 100%, 0 70%, 0 0);
}

.heading-custom > * {
  font-size: 28px;
  padding: 0 20px;
  font-weight: 800;
  color: white;
  background: #9A3BB9;
  width: 100%;
  line-height: unset;
  clip-path: polygon(98% 0, 100% 30%, 100% 100%, 2% 100%, 0 70%, 0 0);
}

.heading-custom-2 {
  background-color: #0586cb;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    left: -50px !important;
  }
}

.navbar-nav {
  gap: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #db3c9e;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: 0.25rem;
  /* color: white; */
}

a {
  color: #1ea3eb;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
}

.video-icon {
  position: absolute;
  font-size: 40px;
  left: 4%;
  top: 7%;
  color: #ffffff;
}

.btn-secondary {
  color: #fff;
  background-color: #1ea3eb;
  /* border-color: #FA5282; */
  border: 0;
}

.alert-success {
  font-size: 22px !important;
  /* color: #054f90;
  background-color: #ebe9f7;
  border-color: #ece7f6; */
}

.selected-peserta {
  color: #ffffff;
  background-color: #0d4f92;
}

.selected-peserta a {
  color: white !important;
}

table .form-control {
  height: 35px;
  font-size: 12px;
}

.bg-white {
  background-color: #fff !important;
  background-image: unset !important;
}

.pagination {
  gap: 5px;
  justify-content: flex-end;
}

.pagination li {
  width: 30px;
  text-align: center;
  border: 1px solid #0c4e91;
  padding: 5px;
  border-radius: 5px;
  color: #0d4e91;
}

.pagination .active {
  background-color: #0e4e92 !important;
}

.pagination .active a {
  color: white !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.card-gradient-1 {
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, hsl(326.82deg 100% 50%) 0%, hsla(57, 100%, 51%, 1) 100%);
  clip-path: polygon(95% 0, 100% 30%, 100% 100%, 5% 100%, 0 70%, 0 0);
}

.card-gradient-1-body {
  font-size: 28px;
  padding: 12px;
  font-weight: 800;
  color: white;
  background: #FFC803;
  clip-path: polygon(95% 0, 100% 30%, 100% 100%, 5% 100%, 0 70%, 0 0);
}

.card-gradient-2 {
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, hsla(199, 90%, 49%, 1) 0%, hsla(327, 100%, 50%, 1) 100%);
  clip-path: polygon(95% 0, 100% 30%, 100% 100%, 5% 100%, 0 70%, 0 0);
}

.card-gradient-2-body {
  font-size: 28px;
  padding: 12px;
  font-weight: 800;
  color: white;
  background: #9A3BB9;
  clip-path: polygon(95% 0, 100% 30%, 100% 100%, 5% 100%, 0 70%, 0 0);
}

.card-gradient-3 {
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, hsl(326.82deg 100% 50%) 0%, hsla(57, 100%, 51%, 1) 100%);
  clip-path: polygon(90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 0);
}

.card-gradient-3-body {
  font-size: 28px;
  padding: 12px;
  font-weight: 800;
  color: white;
  background: #FFC803;
  clip-path: polygon(90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 0);
}

.regis-title {
  width: 30%;
}

.img-city {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-right {
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
}


.img-left {
  width: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-right-2 {
  width: 250px;
  position: absolute;
  right: -120px;
  top: 0;
}


.img-left-2 {
  width: 450px;
  position: absolute;
  left: -120px;
  bottom: 0;
}

.countdown-img {
  max-width: 40%;
  /* position: absolute; */
  top: -101px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.rundown-bg {
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/Rundown.png?updatedAt=1719623720979);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}

.rundown-blue{
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/blue_texture_xMwyzwKxJ?updatedAt=1719719389587);
  background-size: contain;
  background-repeat: repeat;
  padding: 20px;
  color: white;
  border-radius: 36px;
  line-height: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-height: 180px;
  gap: 10px;
}

.rundown-orange {
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/orange_texture_5T8YKk2cQ?updatedAt=1719720113826);
  background-size: contain;
  background-repeat: repeat;
  padding: 20px 46px;
  font-size: 18px;
  color: white;
  border-radius: 36px;
  line-height: 1;
  min-height: 100px;
  display: flex;
  align-items: start;
  width: 74%;
  justify-content: center !important;
  min-height: 180px;
}

.row-summary {
  margin-bottom: 50px;
}

.text-1 {
  font-family: NEOTECH-MEDIUM;
}

.text-2 {
  font-family: Kanit-Regular;
}

.agenda-logo {
  margin: 50px;
}

.agenda-soon {
  height: 850px;
}

.regis-soon {
  width: 80%;
  margin: auto;
  font-size: 32px;
}

.bgv-likeit {
  margin-top: 200px;
}


@media (max-width: 767px) {


.bgv-likeit {
  margin-top: 50px;
}


  .regis-soon {
    width: 100%;
    margin: auto;
    font-size: 32px;
  }

  .agenda-soon {
    height: auto;
  }

  .countdown-body {
    min-width: 300px !important;
  }

  .agenda-logo {
    width: 200px;
    margin: 50px;
  }

  .mx-5 {
    margin: 20px !important;
  }

  .row-countdown {
    height: 350px !important;
  }

  .footer-socmed {
    justify-content: center !important;
    gap: 20px !important;
    width: 100% !important;
  }
  .regis-title {
    margin-top: 20px;
  }
  .hidden-xs {
    display: none !important;
  }

  .socmed-bottom {
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
  }

  .row-summary {
    gap: 40px;
  }

  .row {
    /* gap: 20px !important; */
  }

  .countdown-header {

    font-size: 16pt !important;

  }

  .flipper {
    color: #333;
    display: block;
    font-size: 36pt !important;
    line-height: 100%;
    padding: 0;
    margin: 0;
    height: 1.2em;
  }

  .img-city {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300% !important;
  }

  .img-right {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }


  .img-left {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .img-right-2 {
    width: 180px !important;
    height: 35%;
    position: absolute;
    right: -120px;
    top: 320px;
  }


  .img-left-2 {
    width: 180px !important;
    height: 35%;
    position: absolute;
    left: -120px;
    bottom: 0;
  }

  .card-gradient-1-body {
    font-size: 24px;
    padding: 12px;
    font-weight: 800;
    color: white;
    background: #FFC803;
  }


  .card-gradient-2-body {
    font-size: 24px;
    padding: 12px;
    font-weight: 800;
    color: white;
    background: #9A3BB9;
  }

  .form-regis {
    /* overflow: auto; */
    /* height: 600px; */
  }

  .img-regis {
    width: 400px;
  }

  .countdown-img {
    max-width: 50%;
    /* position: absolute; */
    top: -63px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }


.rundown-blue{
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/blue_texture_xMwyzwKxJ?updatedAt=1719719389587);
  background-size: contain;
  background-repeat: repeat;
  padding: 20px;
  color: white;
  border-radius: 36px;
  line-height: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rundown-orange {
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/orange_texture_5T8YKk2cQ?updatedAt=1719720113826);
  background-size: contain;
  background-repeat: repeat;
  padding: 20px;
  color: white;
  border-radius: 36px;
  line-height: 1;
  min-height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

 .live-stream-section {
  height: 400px !important;
}

.countdown-body {
  min-width: 200px;
  padding: 12px !important;
  padding-bottom: 26px !important;
  background: linear-gradient(360deg, hsla(38, 100%, 50%, 1) 0%, hsla(46, 100%, 51%, 1) 100%);
  border-radius: 20px;
}

  .rundown-blue {
    /* min-height: unset !important; */
  }

  .regis-title {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }

  .row {
    gap: 40px !important;
  }

  .countdown-header {

    font-size: 16pt !important;

  }

  .flipper {
    color: #333;
    display: block;
    font-size: 36pt !important;
    line-height: 100%;
    padding: 0;
    margin: 0;
    height: 1.2em;
  }

  .img-city {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300% !important;
  }

  .img-right {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }


  .img-left {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .img-right-2 {
    width: 180px !important;
    height: 35%;
    position: absolute;
    right: -120px;
    top: 320px;
  }


  .img-left-2 {
    width: 180px !important;
    height: 35%;
    position: absolute;
    left: -120px;
    bottom: 0;
  }

  .card-gradient-1-body {
    font-size: 24px;
    padding: 12px;
    font-weight: 800;
    color: white;
    background: #FFC803;
  }


  .card-gradient-2-body {
    font-size: 24px;
    padding: 12px;
    font-weight: 800;
    color: white;
    background: #9A3BB9;
  }

  .form-regis {
    /* overflow: auto;
    height: 600px; */
  }

  .img-regis {
    width: 400px;
  }

  .countdown-img {
    max-width: 50%;
    /* position: absolute; */
    top: -63px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }


.rundown-blue{
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/blue_texture_xMwyzwKxJ?updatedAt=1719719389587);
  background-size: contain;
  background-repeat: repeat;
  padding: 20px;
  color: white;
  border-radius: 36px;
  line-height: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rundown-orange {
  background-image: url(https://ik.imagekit.io/d9hiweoihy/likeit/2024/orange_texture_5T8YKk2cQ?updatedAt=1719720113826);
  background-size: contain;
  background-repeat: repeat;
  padding: 20px;
  color: white;
  border-radius: 36px;
  line-height: 1;
  min-height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

.live-stream-section {
  height: 400px !important;
}

.countdown-body {
  min-width: 200px;
  padding: 12px !important;
  padding-bottom: 26px !important;
  background: linear-gradient(360deg, hsla(38, 100%, 50%, 1) 0%, hsla(46, 100%, 51%, 1) 100%);
  border-radius: 20px;
}

.rundown-blue {
  /* min-height: unset !important; */
}

.regis-title {
  width: 100%;
}

}


@media (min-width: 200px) and (max-width: 375px) {
  .countdown-body {
    min-width: 200px;
    padding: 12px !important;
    padding-bottom: 26px !important;
    background: linear-gradient(360deg, hsla(38, 100%, 50%, 1) 0%, hsla(46, 100%, 51%, 1) 100%);
    border-radius: 20px;
  }

}

@media (max-width: 1025px) {
  .countdown-body {
    min-width: 200px;
    padding: 12px !important;
    padding-bottom: 26px !important;
    background: linear-gradient(360deg, hsla(38, 100%, 50%, 1) 0%, hsla(46, 100%, 51%, 1) 100%);
    border-radius: 20px;
  }

}

.countdown-body {
  min-width: 200px;
  padding: 12px;
  padding-bottom: 40px;
  background: linear-gradient(360deg, hsla(38, 100%, 50%, 1) 0%, hsla(46, 100%, 51%, 1) 100%);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  min-width: 600px;
}
/* 
html { 
  scroll-snap-type: y mandatory;
}

.row {
  height: 100vh;
  scroll-snap-align: start;
} */

.flipper-group label {
  /* color: #ff008d !important; */
}

.countdown-header {
  width: auto;
  padding: 20px;
  padding-bottom: 0;
  background: #9a3bb9;
  border-radius: 20px 20px 0 0;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 900px) {

  .w-100-vh {
    height: 100vh;
  }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

div.owl-nav > button.owl-prev > span {
  font-size: 28px !important;
  color: white !important;
}

div.owl-nav > button.owl-prev {
  background-color: #269dea !important;
}

div.owl-nav > button.owl-next > span {
  font-size: 28px !important;
  color: white !important;
}

div.owl-nav > button.owl-next {
  background-color: #269dea !important;
}


.shape-container {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  background-color: #fff4e3; /* Warna latar belakang sesuai gambar */
  border: 2px solid #ffa040; /* Warna outline/oranye */
  color: #e64a19; /* Warna teks */
  font-family: Arial, sans-serif; /* Gaya font */
  font-size: 24px;
  text-align: center;
  clip-path: polygon(0 0, 95% 0, 100% 10%, 100% 100%, 0 100%);
}

.shape-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #fff4e3; /* Warna latar belakang sama */
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}